.card{
    border: none;
    width: 100%;
    background-color: blue;
    padding: 20px;
    color: white;
    border-radius: 20% 0 0 0;
}
.down-logo{
    margin-left: 80%;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;

}